.container__background{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo{
    position: absolute;
    top: 0;
    z-index: 1;
    margin-top: 20px;


}

.container-fruid-background{
    width: 100%;
    height: 780px;
    background-color:rgb(233, 231, 231);
    box-shadow: inset 0px 10px 5px #afaeae;
    margin-top: 25px;
}

.thongtincanhan{
    width: 110rem;
    height: 650px;
    background-color:white;
    margin-top: 20px;
}

#title-thongtincanhan{
    font-size:1.5rem;
    width: 110rem;
    height: 20px;
    font-weight: 500;

}



#title-thongtincanhan-left{
    width: 200px;
    float: left;
    text-align: center;
}

#title-thongtincanhan-right{
    width: 200px;
    float: left;
    text-align: center;
    margin-left: 70rem;
}



.title{
    position: absolute;
    z-index: 1;
    top: 0;
    margin-top: 130px;
    font-size: 1.8rem;
    font-weight: 600;
}

.name{
    position: absolute;
    z-index: 1;
    top: 0;
    margin-top: 150px;
    font-size: 5rem;
    font-family: mianmar;
    color: rgb(36, 36, 143);
}

.login{
    position: absolute;
    z-index: 1;
    display: flex;
    width: 550px;
    height: 300px;  
}

.but{
    position: absolute;
    z-index: 1;
    display: flex;
    width: 400px;
    height: 200px;  
    top: 450px;
    
}

.dangnhap{
    position: absolute;
    top: 20px;
    padding: 14px 60px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    background-image: linear-gradient(90deg,rgb(76, 135, 212),rgb(26, 13, 139));
    
}

.doimatkhau{
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    background-image: linear-gradient(90deg,rgb(76, 135, 212),rgb(26, 13, 139));
    margin-top: 550px;
}

.dangnhap:hover{
    cursor:pointer;
}


.email{
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: -30px;

}

.pass{
    width: 100%;
    height: 50px;
    margin-top: 120px;
}

.BG{
    width: 100%;
    height: 670px;
    z-index: 0;
}

.footer{
    background-image: linear-gradient(90deg,rgb(40, 11, 172),rgb(51, 97, 197));
    width:100%;
    height: 95px;
    margin-top: -5px;
    position: absolute;   
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.footer p{
    margin-top: 15px;
    font-size: 1.2em;
}
#cbtech{
    margin-top: -15px;

}
#logo{
    margin-top: 12px;
    margin-left: -125px;
}
.icon{
    margin-top: 12px;
    padding-top: 10px;   
    display: flex;
    justify-content: space-between;
    width: 100px;
    height:40px;
    margin-right: -50px;
}

.fb{
    width: 40px;
    height: 40px;
    
}

.yt{
    width: 40px;
    height: 40px;
    
}


